.nav__scroll {
    background-color: #F0E8D9;
    position: fixed;
    z-index: 1000;
}
.nav__scroll .menu {
    filter: invert(1);
}
.nav__scroll .logo {
    filter: invert(1);
}
.image_grd:hover .info_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info_wrap .MuiSvgIcon-root {
    font-size: 4rem;
}